@import "reset.css";

body {
    font-family: "Trebuchet MS", Helvetica, arial;
    font-size: 12pt;
    width: 750px;

    padding: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Optima", Helvetica, arial;
    font-weight: bold;

    padding: 00px 10px 00px 10px;
    margin: 20px 0;

    border-left: 5px solid #cc3333;
}

h1 {
    font-size: 1.6em;
    padding-top: 0px;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

ul, li {
    list-style: none;
}

ul {
    padding: 10px;
}

li {
    padding: 5px 0;
    margin-left: 30px;
    list-style: square;
}

p {
    line-height: 1.7em;

    padding: 10px 10px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    padding: 20px 20px;
}

a {
    color: #cc3333;
}

pre {
    margin: 10px 10px;
    padding: 1em;
    background-color: #ffffd8;
    border: 0.1em solid #dfdfdf;
}

code {
    font-size: 0.8em;
    font-family: "Menlo", monospace;
    line-height: 1.6em;
}

header {
    padding: 10px;
    background: #666;

    color: #fff;

    margin: -40px 0 20px 0;

    word-spacing: 1em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    font-family: "Play", Arial;

    border-top: 0.3em solid #444;
}
